@media (max-width: 375px){
    header{
        .header__container{
            width: inherit;
            height: 50px;
            margin: 0;
            justify-content: center;
            position: relative;
        }

        .header__logo{
            a{
                height: 50px;

                img{
                    width: 48px;
                }
            }
        }

        .header__list{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            flex-direction: column;
            width: 100%;

            &__item__first{
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                height: 60px;
                background-color: #AA0601;

                .hamburger{
                    position: absolute;
                    top: 13px;
                    left: 16px;
                }

                .logo2{
                    width: 48px;
                }
            }

            &__item{
                margin-left: 0;
                background-color: #AA0601;

                a{
                    line-height: 60px;
                    height: 60px;
                    width: 100%;
                    text-align: center;
                    border: 1px solid #FFFFFF;
                }
            }
        }

        .header__hamburger{
            display: block;
            position: absolute;
            top: 13px;
            left: 16px;
        }
    }
}